<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Reanlo</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.91217139595-tqj9gcs5qrmkc81a4r5sr65p0dd4pht8</string>
				<string>fb7816931498373908</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string></string>
	<key>FacebookAppID</key>
	<string>7816931498373908</string>
	<key>FacebookClientToken</key>
	<string>385f78ab3864f13a26519c5ed8d77b20</string>
	<key>FacebookDisplayName</key>
	<string>Reanlo</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleIDAuthorizationFullName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>NSAppleIDAuthorizationScopes</key>
	<array>
		<string>email</string>
		<string>fullName</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Reanlo need to access your camera for change profile picture and create post.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires access to your location to provide location-based services at all times.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires access to your location while the app is in use to provide location-based services.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Reanlo need to access your photos library for change profile picture.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fonts/AntDesign.ttf</string>
		<string>fonts/Entypo.ttf</string>
		<string>fonts/EvilIcons.ttf</string>
		<string>fonts/Feather.ttf</string>
		<string>fonts/FontAwesome.ttf</string>
		<string>fonts/FontAwesome5_Brands.ttf</string>
		<string>fonts/FontAwesome5_Regular.ttf</string>
		<string>fonts/FontAwesome5_Solid.ttf</string>
		<string>fonts/FontAwesome6_Brands.ttf</string>
		<string>fonts/FontAwesome6_Regular.ttf</string>
		<string>fonts/FontAwesome6_Solid.ttf</string>
		<string>fonts/Fontisto.ttf</string>
		<string>fonts/Foundation.ttf</string>
		<string>fonts/Ionicons.ttf</string>
		<string>fonts/MaterialCommunityIcons.ttf</string>
		<string>fonts/MaterialIcons.ttf</string>
		<string>fonts/Octicons.ttf</string>
		<string>fonts/SimpleLineIcons.ttf</string>
		<string>fonts/Zocial.ttf</string>
		<string>fonts/icomoon.ttf</string>
		<string>fonts/Outfit-Black.ttf</string>
		<string>fonts/Outfit-Bold.ttf</string>
		<string>fonts/Outfit-ExtraBold.ttf</string>
		<string>fonts/Outfit-ExtraLight.ttf</string>
		<string>fonts/Outfit-Light.ttf</string>
		<string>fonts/Outfit-Medium.ttf</string>
		<string>fonts/Outfit-Regular.ttf</string>
		<string>fonts/Outfit-SemiBold.ttf</string>
		<string>fonts/Outfit-Thin.ttf</string>
		<string>fonts/PlayfairDisplay-Black.ttf</string>
		<string>fonts/PlayfairDisplay-Bold.ttf</string>
		<string>fonts/PlayfairDisplay-ExtraBold.ttf</string>
		<string>fonts/PlayfairDisplay-Medium.ttf</string>
		<string>fonts/PlayfairDisplay-Regular.ttf</string>
		<string>fonts/PlayfairDisplay-SemiBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
